GOOGLE_PLACES_KEY=your_google_places_api_key
RESEND_API_KEY=your_resend_api_key
FROM_EMAIL=hello@yourdomain.com
FROM_NAME=Your Full Name
VERCEL_TOKEN=your_vercel_token
VERCEL_TEAM_SLUG=your_vercel_team_slug_or_leave_blank
HUNTER_API_KEY=your_hunter_api_key_here
